#contactbtn-one:hover #contact-arrow-one {
  rotate: 45deg;
  transition: rotate 0.5s;
}

#contactbtn-two:hover #contact-arrow-two {
  rotate: 45deg;
  transition: rotate 0.5s;
 
}

#contactbtn-three:hover #contact-arrow-three {
  rotate: 45deg;
  transition: rotate 0.5s;
 
}
