#linkedinLineHover {
  transition: width 0.3s ease-in-out;
  width: 100px;
  visibility: hidden;
}

#linkedinBox:hover #linkedinLineHover {
  width: 100%;
  visibility: visible;
}

#githubLineHover {
  transition: width 0.3s ease-in-out;
  width: 100px;
  visibility: hidden;
}

#githubBox:hover #githubLineHover {
  width: 100%;
  visibility: visible;
}

#emailLineHover {
  transition: width 0.3s ease-in-out;
  width: 100px;
  visibility: hidden;
}

#emailBox:hover #emailLineHover {
  width: 100%;
  visibility: visible;
}

#resumeLineHover {
  transition: width 0.3s ease-in-out;
  width: 100px;
  visibility: hidden;
}

#resumeBox:hover #resumeLineHover {
  width: 100%;
  visibility: visible;
}
