@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black: #454543;

  --purple: #d0b8f6;
  --blue: #cedef2;
  --green: #d3ecee;
  --bg: #7a8e8e;
  --beige: #dcdada;
  --hover: #e4e7e7;
  --text-hover: #61615f;
}
