@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black: #454543;

  --purple: #d0b8f6;
  --blue: #cedef2;

  --bg: #7a8e8e;
  --beige: #dcdada;
  --hover: #e4e7e7;
  --text-hover: #61615f;
  --card: #6d7a7a;
  --green: #93f0a1;
  --blue: #98cafc;
  --yellow: #fcf285;
  --red: #f4a7a6;
}
