.projects-page {
  display: flex;
  flex-direction: column;
  padding: 1rem 0em 20em 0em;
  max-width: 1240px;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 90%;
  box-sizing: border-box;
}

/* HEADER */

.projects-header {
  display: flex;

  font-family: "Bebas Neue", sans-serif;
  color: var(--color-black);

  align-items: start;
}

.projects-header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projects__header-title {
  font-size: 4rem;
  line-height: 3rem;
  color: #adff2f;
}

.projects__header-underline {
  filter: var(--filter-color);
}

.projects__header-title-bio,
.projects__header-title-contact {
  padding-left: 0.1em;
  color: var(--color-black);
}

.projects__header-title-bio:hover,
.projects__header-title-contact:hover {
  color: var(--color-purple);
  transition: 0.5s ease;
  text-shadow: rgba(226, 188, 226, 0.33) 1px 0px 5px;
  cursor: pointer;
}

.projects__header-pgnum-box {
  display: flex;
  width: 100%;
  align-self: flex-end;
  justify-content: flex-end;
  padding-right: 2em;
}

.projects__header-pgnum {
  font-size: 1.5rem;
}

/* HEADER -----------------------*/

/* MAIN CONTAINER */
.projects-flexcontainer {
  display: flex;
}

.projects__left-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 3;
  padding: 4em 0 0 0;
}

.projects__right-container {
  justify-content: flex-end;
}

.projects__right-brace {
  filter: var(--filter-color);
}

.projects__card-left,
.projects__card-right {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 1rem;
}

.projects__card-left {
  padding-left: 7rem;
}

/* Right card */
.card-holder-right {
  display: none;
}
/* Right card */

.card-holder-left,
.card-holder-right {
  width: 20rem;
  height: 27rem;
  overflow: hidden;
  box-shadow: 0 0.4rem 0.4rem rgba(46, 2, 79, 0.4);

  transition: all 0.5s ease;

  border: 0.1rem solid;
  border-radius: 2.5rem;
  border-color: var(--color-purple);

  background-color: var(--color-grey);
}

/* HOVER */

.card-holder-left:hover #card-move {
  transform: translateY(-30rem);
  transition: 0.8s ease;
}

#card-move.active {
  transform: translateY(-30rem);
  transition: 0.8s ease;
}

.project-git-link-box {
  display: flex;
  justify-content: center;
}

.project-git-link-box {
  margin-top: 1rem;
}

.project-git-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--color-black);
}

.project-git-link:hover {
  color: var(--color-white);
}

.projects__card__top-display-pic__box {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.projects__card__top-display-pic {
  width: 70%;
  height: auto;
  border-radius: 1rem;
}

.projects__card-top-info {
  height: 25rem;
  padding: 1em;
}

.projects-app-info-title {
  text-align: center;
  padding-bottom: 0.5em;
  font-size: 1.5rem;
  font-family: "Bebas Neue";
  color: var(--color-black);
}

.projects-app-info {
  padding-bottom: 2em;
  font-size: 0.8rem;
  font-family: "Ubuntu Mono";
  color: var(--color-black);
}

.tech-box {
  display: flex;
  gap: 0.5rem;
}

.tech {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 4rem;
  height: 2rem;

  border-radius: 2.5rem;
  padding: 0.3em;

  font-size: 0.5rem;

  color: #eae4ec;

  background-color: rgb(162, 143, 181);
  border-color: var(--color-black);
}
/* MAIN CONTAINER */

/* ON HOVER */

.card-holder-left:hover {
  box-shadow: 0 1rem 1rem rgba(46, 2, 79, 0.493);
  transition: all 0.5s ease;

  transform: translateY(-1rem);
}

/* ON HOVER */

/* MEDIA */

@media screen and (max-width: 62rem) {
  .projects__header-title {
    font-size: 3.5rem;
  }

  .projects__right-brace {
    display: none;
  }

  .bio__header-underline {
    width: 6rem;
  }

  .projects__card-left {
    flex-direction: column;
  }

  .projects__card-left {
    padding-left: 0rem;
  }
}

@media screen and (max-width: 38rem) {
  .project-git-link-box {
    margin-top: 1rem;
  }

  .project-git-link-box {
    margin-top: 4rem;
  }

  .projects__card__top-display-pic__box {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }

  .projects__card__top-display-pic {
    width: 50%;
    height: auto;
    border-radius: 0.75rem;
  }

  .projects__card-top-info {
    height: 23rem;
    padding: 1em;
  }

  .projects-app-info-title {
    padding-bottom: 0.25em;
    font-size: 1.25rem;
  }

  .projects-app-info {
    padding-bottom: 2em;
    font-size: 0.8rem;
  }

  .tech-box {
    display: flex;
    gap: 0.5rem;
  }

  .tech {
    width: 3rem;
    height: 1.5rem;

    border-radius: 2.5rem;
    padding: 0.2em;

    font-size: 0.5rem;
  }

  .card-holder-left,
  .card-holder-right {
    width: 18rem;
    height: 24.5rem;
  }
}
